# HDSC Summer internship 2022 Stage A assessment test

In [1]:
#importing library
import pandas as pd

In [2]:
#Loading dataset from local folder
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='unicode-escape')

In [3]:
#Load first five rows
df.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
#check the features
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [5]:
#load last five rows
df.tail(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [6]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
#Check for null values
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
#the datafrmae shape
df.shape

(60943, 12)

In [9]:
#data types for each feature
df.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2014           float64
Y2015           float64
Y2016           float64
Y2017           float64
Y2018           float64
dtype: object

# Answers to questions 11-20

# Q11
What is the total sum of Animal Fat produced in 2014 and 2017 ?

In [10]:
#Group the dataset into item and Y2015 @ Year2017 as values, aggfunc as sum
group1 = df.pivot_table(index='Item',
                       values=['Y2014', 'Y2017'],
                       aggfunc='sum')

In [11]:
group1.reset_index(inplace=True)
#query the grouped data
fat_sum = group1[group1['Item']=='Animal fats']

In [12]:
fat_sum_2017 = fat_sum['Y2017'].values
fat_sum_2014 = fat_sum['Y2014'].values
print(f'Animal fat sum in 2014 is {fat_sum_2014[0]} ')
print(f'Animal fat sum in 2017 is {fat_sum_2017[0]} ')

Animal fat sum in 2014 is 209460.5399999999
Animal fat sum in 2017 is 269617.53

# Q12
What is the mean and standard deviation across the whole for the year 2015 to 3 decimal places

In [16]:
mean2015=df['Y2015'].mean()
print(f'The mean for the whole dataset in 2015 is {mean2015:.3f}')

The mean for the whole dataset in 2015 is 135.236

In [15]:
std2015=df['Y2015'].std()
print(f'The standard deviation for the whole dataset in 2015 is {std2015:.3f}')

The standard deviation for the whole dataset in 2015 is 1603.404

# Q13
What is the total number and percentage of missing data in 2016 to 2 decimal places

In [17]:
df['Y2016']

0        40551.00
1            0.00
2         3372.00
3           94.72
4           77.40
           ...
60938       33.00
60939        2.35
60940        3.00
60941        0.08
60942        0.03
Name: Y2016, Length: 60943, dtype: float64

In [18]:
y2016_null = df['Y2016'].isnull().sum()

In [22]:
#check the number of rows
df['Y2016'].shape

(60943,)

In [23]:
#check the number of null values
y2016_null

1535

In [24]:
#use the number of null values to calculate the percentage
percent = (y2016_null / df['Y2016'].shape[0]) * 100
print(f'The total null values in year 2016 is {y2016_null} and the percentage is {percent:.2f}% ')

The total null values in year 2016 is 1535 and the percentage is 2.52%

# Q14
Which year had the highest correlation with 'Element Code'?

In [27]:
corr_1 = df.corr()

In [28]:
corr_1

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [32]:
corr_2 = corr_1['Element Code'][corr_1['Element Code']!='Element Code']

In [34]:
corr_2.sort_values(ascending=False)

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
Name: Element Code, dtype: float64

From this data series , we could see that the year that had highest correlation with Element Code is Year 2014

# Q15
What year had the highest sum of Import Quantity?

In [35]:
'''
Group dataset to Element and all the years as values, sum as aggfunc
'''
group2 = df.pivot_table(index='Element',
                       values=['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
                       aggfunc='sum')
group2.reset_index(inplace=True)

In [36]:
group2

,Element,Y2014,Y2015,Y2016,Y2017,Y2018
0,Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
1,Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
2,Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
3,Feed,216927.89,225050.22,228958.65,223705.68,233489.68
4,Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
5,Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
6,Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
7,Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
8,Losses,153223.00,155439.00,157787.00,160614.00,163902.00
9,Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
10,Processing,282923.00,287929.00,280631.00,292836.00,308429.00
11,Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
12,Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
13,Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
14,Seed,21922.92,23976.82,23389.20,24870.14,25263.14
15,Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
16,Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
17,Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [38]:
iq = group2[group2['Element']=='Import Quantity']

In [40]:
iq_max = iq.max()

In [42]:
iq_max

Element    Import Quantity
Y2014               274144
Y2015               267018
Y2016               286583
Y2017               294559
Y2018               287997
dtype: object

From this series , we could see that the year with the highest import quantity os year 2017

# Q16
What is the total number of the sum of production in 2014

In [54]:
#Use the grouped data above
sum_prod = group2.query('Element == "Production"')

In [56]:
y2018_sum_prod = sum_prod['Y2014']
print(f'The sum of Production in 2014 is {int(y2018_sum_prod.values[0])}')

The sum of Production in 2014 is 1931287

# Q17
Element that had highest sum in 2018

In [60]:
group2.sort_values('Y2018')

,Element,Y2014,Y2015,Y2016,Y2017,Y2018
17,Tourist consumption,416.00,349.00,89.00,91.00,90.00
2,Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
12,Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
15,Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
14,Seed,21922.92,23976.82,23389.20,24870.14,25263.14
13,Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
6,Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
9,Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
8,Losses,153223.00,155439.00,157787.00,160614.00,163902.00
1,Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
3,Feed,216927.89,225050.22,228958.65,223705.68,233489.68
7,Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
10,Processing,282923.00,287929.00,280631.00,292836.00,308429.00
5,Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
16,Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
4,Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
11,Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
0,Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10

# Q18
Elements that had the third lowest sum in 2018

In [61]:
group3 = df.pivot_table(index='Element',
                       values='Y2018',
                       aggfunc='sum')
group3.reset_index(inplace=True)

In [64]:
group3.sort_values('Y2018')

                                   Element       Y2018
17                     Tourist consumption       90.00
2       Fat supply quantity (g/capita/day)    10258.69
12  Protein supply quantity (g/capita/day)    11833.56
15                         Stock Variation    20577.91
14                                    Seed    25263.14
13                               Residuals    34864.00
6      Food supply quantity (kg/capita/yr)    49056.85
9                    Other uses (non-food)    91300.97
8                                   Losses   163902.00
1                          Export Quantity   181594.80
3                                     Feed   233489.68
7                          Import Quantity   287997.09
10                              Processing   308429.00
5            Food supply (kcal/capita/day)   455261.00
16           Total Population - Both sexes  1140605.00
4                                     Food  1303841.28
11                              Production  2075072.89
0                 Domestic supply quantity  2161192.10

# Q19
What is the total import quantity in Algeria in 2018

In [65]:
'''
Group by area and element 
'''
group4 = df.pivot_table(index=['Element', 'Area'],
                       values='Y2018',
                       aggfunc='sum')
group4.reset_index(inplace=True)

In [67]:
query1 = group4.query('Element == "Import Quantity" & Area == "Algeria"')

In [68]:
query1

             Element     Area     Y2018
331  Import Quantity  Algeria  36238.29

# Q20 
What is the total number of unique countries?

In [69]:
df['Area'].nunique()

49